<div class="container my-5">
    <div>
        <h2 class="subtitulo">
            Imagenes
        </h2>
    </div>
    <div class="container my-5 galeria">
        <div class="fila">
            <!-- Galería de Imágenes -->
            <div class="item-galeria">
                <img src="https://via.placeholder.com/300" alt="Imagen 1">
                <div class="superposicion">
                    <div class="texto-superposicion">Imagen 1</div>
                </div>
            </div>
            <div class="item-galeria">
                <img src="https://via.placeholder.com/300" alt="Imagen 2">
                <div class="superposicion">
                    <div class="texto-superposicion">Imagen 2</div>
                </div>
            </div>
            <div class="item-galeria">
                <img src="https://via.placeholder.com/300" alt="Imagen 3">
                <div class="superposicion">
                    <div class="texto-superposicion">Imagen 3</div>
                </div>
            </div>
            <!-- Añadir más imágenes aquí -->
        </div>
    </div>
</div>