<div class="nav navbar-expand-md bg-info position-fixed w-100 barra-navegacion">
    <div class="container navbar px-2 p-lg-0">
        <h1 class=" navbar-brand m-0 p-0 segundo-slogan fw-bold">
            Olas del
            <span class="">
                Mar
            </span>
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#barraNavegacion"
            aria-controls="barraNavegacion" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="barraNavegacion" #barra_navegacion>
            <ul class="navbar-nav gap-3">
                <li *ngFor="let opcion of listaOpciones" class="nav-item">
                    <a
                    *ngIf="opcion.nombre === 'Contacto'; else otherLinks"
                    (click)="scrollToBottom()"
                    class="nav-link p-0 m-0 text-white subtitulo fs-4">
                        {{opcion.nombre}}
                    </a>
                    <ng-template #otherLinks>
                        <a  [routerLink]="opcion.path"
                        class="nav-link p-0 m-0 text-white subtitulo fs-4">
                            {{opcion.nombre}}
                        </a>
                    </ng-template>
                </li>
            </ul>
        </div>
    </div>
</div>