<div class="container-fluid">
    <div class="container d-md-flex gap-3">
        <div class="container border py-3 my-3 shadow">
            <h2>
                Misión
            </h2>
            <p>
                En las <strong>olas del mar</strong>, nuestra misión es ofrecer una experiencia culinaria excepcional que celebre la autenticidad y la calidad. Nos dedicamos a utilizar ingredientes frescos y locales, combinados con técnicas tradicionales y creatividad, para crear platos que deleiten y sorprendan a nuestros clientes, mientras proporcionamos un ambiente acogedor y un servicio amable que hace sentir a cada comensal como en casa.
            </p>
        </div>
        <div class="container border py-3 my-3 shadow">
            <h2>
                Vsión
            </h2>
            <p>
                Nuestra visión es ser el restaurante líder en la región, reconocido por nuestra innovación en la cocina y nuestro compromiso con la sostenibilidad. Aspiramos a ser el destino preferido para quienes buscan una experiencia gastronómica única y memorable, al tiempo que fomentamos una comunidad unida y celebramos la rica herencia culinaria de nuestra tierra.
            </p>
        </div>
    </div>
</div>