@import '../../../styles.sass'

.text-titulo
    display: flex
    margin: auto
    width: 90%
    background-color: #ffffff8a
    padding: 3rem
    border-radius: 15px
    @media (min-width: 768px)
        width: 75%
    
.contenedor-video
    width: 100%
    height: 100vh
.video
    display: block
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center
.video-desktop
    display: none
.video-movil
    display: block
@media (min-width: 768px) 
    .video-desktop
        display: block
    .video-movil
        display: none
