<div class="container-fluid p-0">
    <div class="container">
        <div class="position-absolute z-1 end-0 top-0 bottom-0 d-flex flex-column justify-content-center">
            <div class="">
                <h2 class="subtitulo fs-2 text-black text-center text-titulo">
                    En nuestro restaurante, cada plato es una obra maestra. Ven y disfruta de una experiencia gastronómica inolvidable.
                </h2>
            </div>
            <div class="w-100 d-flex justify-content-center mt-3">
                <button class="btn btn-info fw-bold">
                    Contacto
                </button>
            </div>
        </div>
    </div>
    <div class="contenedor-video">
        <video #videoP class="video video-movil" autoplay loop muted>
            <source [src]="videoMovil"
            type="video/mp4"
            class="video">
        </video>
        <video #videoP class="video video-desktop" autoplay loop muted>
            <source [src]="videoDesktop"
            type="video/mp4"
            class="video">
        </video>
    </div>
    <section class="my-4">
        <div>
            <app-history/>
        </div>
    </section>
    <section>
        <div>
            <app-missionandvision/>
        </div>
    </section>
    <section>
        <div>
            <app-special-dishes/>
        </div>
    </section>
    <section>
        <div>
            <app-branches/>
        </div>
    </section>
    <section>
        <div class="my-4">
            <app-coment/>
        </div>
    </section>
    <section>
        <div class="my-4">
            <app-image-galery/>
        </div>
    </section>
</div>
