<div class="">
    <div class="container-fluid">
        <div class="container border py-3 my-4 shadow">
            <h2 class="subtitulo">
                Historia
            </h2>
            <p class="contenido">
                Descubre el legado de las olas del mar, donde cada plato es una herencia de generaciones. Fundado en 1985 por la familia Martínez, ofrecemos una experiencia culinaria única, combinando recetas tradicionales con innovación. ¡Ven y sé parte de nuestra historia!
            </p>
        </div>
    </div>
    <div class="paralax">
        <div class="w-100 h-100 d-flex justify-content-center align-items-center">
            <h2 class="text-white texto">
                Desde 1985
            </h2>
        </div>
    </div>
</div>