<div class="container-fluid">
    <div class="container d-flex flex-column my-4 border p-3 shadow position-relative">
        <div class="d-flex flex-column gap-3">
            <h2 class="subtitulo">
                Encuentra Tu Restaurante Más Cercano
            </h2>
            <cite class="contenido">
                Visítanos en cualquiera de nuestras sucursales para disfrutar de la misma excelente experiencia culinaria.
            </cite>
            <div class="mt-4">
                <button class="btn btn-primary slogan">
                    Ver sucursales
                    <i class="bi bi-compass"></i>
                </button>
            </div>
        </div>
    </div>
</div>
